name: Build SIF
on: 
  push:
  workflow_dispatch: # 允许你手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Apptainer
        run: |
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt-get update
          sudo apt-get install -y apptainer

      - name: Build SIF
        run: |
          # 这一步会比较慢，因为 BRAKER3 镜像很大
          apptainer build braker3.sif docker://teambraker/braker3:latest

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: braker3-sif
          path: braker3.sif
          retention-days: 2 # 文件保留1天，下载完就不用管了
